@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Castoro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
body{
	font-family: 'Bebas Neue', cursive;
    font-family: 'Castoro', serif;
	background-color: #d0a088;
}
.bg-black{
	background-color: #976948;
}
#siteBanner{
	background-image: url("../imagenes_utilizadas/banner.jpg");
	background-size: cover;
	background-position: 50%;
	min-height: 400px;
	height: 50vh;
	position: relative;
	opacity: .5;
}
#siteBanner h1{
	font-size: 3rem;
	line-height: 1.25em;
}
#galeria{
	background-image: url("../imagenes_utilizadas/banner.jpg");
	background-size: cover;
	background-position: 100%;
	min-height: 40px;
	height: 20vh;
	position: relative;
	opacity: .5;
}
.sesiones{
	margin-top: 40px;
	margin-left: 80vh;
}
.fondoSeparador{
	background-image: url("../imagenes_utilizadas/fondo.jpg");
	background-position: center;
	background-size: cover;
	margin: 5vh;
	border: 5px solid #c18567;
}
p{
	font-family: 'Playfair Display', serif;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px){
	@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Castoro:ital@1&display=swap');
body{
	font-family: 'Bebas Neue', cursive;
    font-family: 'Castoro', serif;
	background-color: #d0a088;
}
.bg-black{
	background-color: #976948;
}
#siteBanner{
	background-image: url("../imagenes_utilizadas/banner.jpg");
	background-size: cover;
	background-position: 50%;
	min-height: 400px;
	height: 50vh;
	position: relative;
	opacity: .5;
}
#siteBanner h3{
	font-size: 3rem;
	line-height: 1.25em;
}
#galeria{
	background-image: url("../imagenes_utilizadas/banner.jpg");
	background-size: cover;
	background-position: 100%;
	min-height: 40px;
	height: 20vh;
	position: relative;
	opacity: .5;
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){
	@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Castoro:ital@1&display=swap');
body{
	font-family: 'Bebas Neue', cursive;
    font-family: 'Castoro', serif;
	background-color: #d0a088;
}
.bg-black{
	background-color: #976948;
}
#siteBanner{
	background-image: url("../imagenes_utilizadas/banner.jpg");
	background-size: cover;
	background-position: 50%;
	min-height: 400px;
	height: 50vh;
	position: relative;
	opacity: .5;
}
#siteBanner h3{
	font-size: 3rem;
	line-height: 1.25em;
}
#galeria{
	background-image: url("../imagenes_utilizadas/banner.jpg");
	background-size: cover;
	background-position: 100%;
	min-height: 40px;
	height: 20vh;
	position: relative;
	opacity: .5;
}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px){
	@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Castoro:ital@1&display=swap');
body{
	font-family: 'Bebas Neue', cursive;
    font-family: 'Castoro', serif;
	background-color: #d0a088;
}
.bg-black{
	background-color: #976948;
}
#siteBanner{
	background-image: url("../imagenes_utilizadas/banner.jpg");
	background-size: cover;
	background-position: 50%;
	min-height: 400px;
	height: 50vh;
	position: relative;
	opacity: .5;
}
#siteBanner h3{
	font-size: 3rem;
	line-height: 1.25em;
}
#galeria{
	background-image: url("../imagenes_utilizadas/banner.jpg");
	background-size: cover;
	background-position: 100%;
	min-height: 40px;
	height: 20vh;
	position: relative;
	opacity: .5;
}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){
	@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Castoro:ital@1&display=swap');
body{
	font-family: 'Bebas Neue', cursive;
    font-family: 'Castoro', serif;
	background-color: #d0a088;
}
.bg-black{
	background-color: #976948;
}
#siteBanner{
	background-image: url("../imagenes_utilizadas/banner.jpg");
	background-size: cover;
	background-position: 50%;
	min-height: 400px;
	height: 50vh;
	position: relative;
	opacity: .5;
}
#siteBanner h3{
	font-size: 3rem;
	line-height: 1.25em;
}
#galeria{
	background-image: url("../imagenes_utilizadas/banner.jpg");
	background-size: cover;
	background-position: 100%;
	min-height: 40px;
	height: 20vh;
	position: relative;
	opacity: .5;
}
}