@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Castoro:ital@1&display=swap');
body{
	font-family: 'Bebas Neue', cursive;
    font-family: 'Castoro', serif;
	background-color: #d0a088;
}
.bg-black{
	background-color: #976948;
}
#site__Banner{
	background-image: url("../imagenes_utilizadas/banner.jpg");
	background-size: cover;
	position: relative;
	background-position: 50%
	min-height: 400px;
	font-size: 3rem;
	line-height: 1.25em;
	height: 50vh;
	opacity: .5;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px){
     @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Castoro:ital@1&display=swap');
body{
	font-family: 'Bebas Neue', cursive;
    font-family: 'Castoro', serif;
	background-color: #d0a088;
}
.site__header--bg-black{
	background-color: #976948;
}
#site__Banner{
	background-image: url("../imagenes_utilizadas/banner.jpg");
	background-size: cover;
	position: relative;
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Castoro:ital@1&display=swap');
body{
	font-family: 'Bebas Neue', cursive;
    font-family: 'Castoro', serif;
	background-color: #d0a088;
}
.site__header--bg-black{
	background-color: #976948;
}
#site__Banner{
	background-image: url("../imagenes_utilizadas/banner.jpg");
	background-size: cover;
	position: relative;
}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px){
	@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Castoro:ital@1&display=swap');
body{
	font-family: 'Bebas Neue', cursive;
    font-family: 'Castoro', serif;
	background-color: #d0a088;
}
.bg-black{
	background-color: #976948;
}
#site__Banner{
	background-image: url("../imagenes_utilizadas/banner.jpg");
	background-size: cover;
	position: relative;
}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){
	@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Castoro:ital@1&display=swap');
body{
	font-family: 'Bebas Neue', cursive;
    font-family: 'Castoro', serif;
	background-color: #d0a088;
}
.bg-black{
	background-color: #976948;
}
#site__Banner{
	background-image: url("../imagenes_utilizadas/banner.jpg");
	background-size: cover;
	position: relative;
}
}